.scrolled-down{
    transform:translateY(-100%); 
    transition: all 0.3s ease-in-out;
}

.scrolled-up{
    transform:translateY(0); 
    transition: all 0.3s ease-in-out;
}

.navbar{
    height: 56px;
    width: 100%;
    border-bottom: solid 1px #ebebeb;
}

#offcanvas{
    width: 100%;
    height: 100vh;
}