.scrolled-down{
    transform:translateY(-100%); 
    transition: all 0.3s ease-in-out;
}

.scrolled-up{
    transform:translateY(0); 
    transition: all 0.3s ease-in-out;
}

.navbar{
    height: 56px;
    width: 100%;
    border-bottom: solid 1px #f4f4f4;
    animation-name: SlideIn;
    animation-duration: 0.5s;
}

#offcanvas{
    width: 100%;
    height: 100%;
}

@keyframes SlideIn{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0%);
    }
}
