.admin-planning-calendar-main-side{
    border-right: solid 2px var(--bs-gray-400);
}

.admin-planning-calendar-main-appointment{
    height: fit-content;
    position: sticky;
    top: 0;
}

@media screen and (max-width: 1200px){
    .admin-planning-calendar-main-side{
        height: 35vh !important;
        border-right: none !important;
        overflow: auto;
    }

    .admin-planning-calendar-main-appointment{
        position: relative !important;
    }
}