.admin-planning-calendar-side{
    min-height: 100vh;
    height: fit-content;
    background-color: var(--bs-gray-100);
    border-right: solid 2px var(--bs-gray-400);
    position: sticky;
    top: 0;
}

.admin-planning-calendar-main-side{
    border-right: solid 2px var(--bs-gray-400);
}

.admin-planning-calendar-main-appointment{
    height: fit-content;
    position: sticky;
    top: 0;
}

@media screen and (max-width: 992px){
    .admin-planning-calendar-side{
        min-height: 100%;
        border-right: none;
        border-bottom: solid 1px var(--bs-gray-400);
        position: relative !important;
    }
}

@media screen and (max-width: 1200px){
    .admin-planning-calendar-main-side{
        height: 35vh !important;
        border-right: none !important;
        overflow: auto;
    }

    .admin-planning-calendar-main-appointment{
        position: relative !important;
    }
}